// -----------------------------
// Footer
// -----------------------------

$footer-padding: 22px 5% 16px;
$footer-background: #fff;

.footer {
	width: 100%;
	flex: none;
	padding: $footer-padding;
	text-align: center;
	background-color: $footer-background;
	
	.logo {
		display: inline-block;
		&__image {
			width: 100px;
		}
	}

	&__slogan {
		margin-bottom: 0;
		font-size: 12px;
		color: $color-gray;
	}
}

@include media(min, sm) {
	.footer {
		.logo {
			&__image {
				width: 140px;
			}
		}

		&__slogan {
			font-size: 16px;
		}
	}
}