// Colors
$color-primary: #62AFE2;
$color-secondary: #27AE60;
$color-bg: #eee;

$color-gray: #9B9B9B;
$color-gray-dark: #4F4D50;

// Text
$color-text: $color-gray-dark;

// Links
$color-link: $color-primary;

// Borders
$color-border: #E0E0E0;