// Typography
$font-family-primary: "Roboto", Arial, sans-serif;
$font-family-secondary: "Roboto", Arial, sans-serif;

$font-size: 18px;
$font-size-lead: 28px;
$line-height: 1.6;

// Screen Size
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 996px;
$screen-lg: 1200px;
