/*
	Interns 2017 | Made By Nerds For Nerds
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:focus {
  outline-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #4F4D50;
  background-color: #f3f3f3;
}

strong {
  font-weight: 700;
}

a {
  color: #62AFE2;
}

a:hover {
  color: #62AFE2;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 56px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 22px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 26px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 32px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 52px;
}

blockquote {
  margin: 0 0 32px;
  border-left: 4px solid sandybrown;
  padding: 32px;
  background-color: #f3f3f3;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  blockquote {
    font-size: 20px;
  }
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: 60px;
  padding-right: 6%;
  padding-left: 6%;
  font-size: 14px;
  color: #9B9B9B;
  background-color: #fff;
}

.header .logo {
  display: inline-block;
  margin-top: 18px;
}

.header .logo__image {
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
    font-size: 16px;
  }
  .header .logo {
    margin-top: 24px;
  }
  .header .logo__image {
    display: inline-block;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
    width: 140px;
  }
}

.header.header--transparent {
  background-color: transparent;
}

.header.header--transparent .logo__image {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.header.header--transparent .menu-trigger em {
  background-color: #fff;
}

.header.header--transparent .menu-trigger em::before, .header.header--transparent .menu-trigger em::after {
  background-color: #fff;
}

.header.header--transparent .menu-trigger.menu-trigger--open em {
  background-color: transparent;
}

@media (min-width: 480px) {
  .header.header--transparent .menu__link {
    color: #fff;
  }
  .header.header--transparent .menu__link:hover {
    color: #fff;
  }
}

.menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.menu__link {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  text-decoration: none;
  color: #9B9B9B;
  cursor: pointer;
}

.menu__link:hover {
  color: #62AFE2;
}

.menu-trigger {
  z-index: 18;
  position: absolute;
  top: 0;
  right: 5%;
  width: 26px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.menu-trigger em {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  background-color: #9B9B9B;
}

.menu-trigger em::before, .menu-trigger em::after {
  content: " ";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #9B9B9B;
}

.menu-trigger em::before {
  bottom: 8px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.menu-trigger em::after {
  top: 8px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.menu-trigger.menu-trigger--open em {
  background-color: transparent;
}

.menu-trigger.menu-trigger--open em::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-trigger.menu-trigger--open em::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 480px) {
  .menu__link {
    margin-left: 22px;
  }
  .menu-trigger {
    display: none;
  }
}

@media (max-width: 479px) {
  .menu {
    position: fixed;
    top: 60px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  .menu__link {
    display: block;
    border-top: 2px dotted #f3f3f3;
    padding: 16px 22px;
  }
}

@media (max-width: 479px) {
  .header--open .menu {
    opacity: 1;
    visibility: visible;
  }
  .header--transparent.header--open {
    background-color: #fff;
  }
  .header--transparent.header--open .logo__image {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
  }
  .header--transparent.header--open .menu {
    opacity: 1;
    visibility: visible;
  }
  .header--transparent.header--open .menu-trigger em {
    background-color: transparent;
  }
  .header--transparent.header--open .menu-trigger em::before, .header--transparent.header--open .menu-trigger em::after {
    background-color: #9B9B9B;
  }
}

.footer {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 22px 5% 16px;
  text-align: center;
  background-color: #fff;
}

.footer .logo {
  display: inline-block;
}

.footer .logo__image {
  width: 100px;
}

.footer__slogan {
  margin-bottom: 0;
  font-size: 12px;
  color: #9B9B9B;
}

@media (min-width: 768px) {
  .footer .logo__image {
    width: 140px;
  }
  .footer__slogan {
    font-size: 16px;
  }
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .content {
    padding-top: 80px;
  }
}

.content.content--no-padding {
  padding-top: 0;
}

.content.content--white {
  background-color: #FAFAFA;
}

.badge {
  display: inline-block;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  color: #fff;
  background-color: #4F4D50;
}

.badge.badge--primary {
  background-color: #62AFE2;
}

.badge.badge--secondary {
  background-color: #27AE60;
}

@media (min-width: 768px) {
  .badge.badge--big {
    padding: 6px 16px;
    font-size: 16px;
  }
}

.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6%;
  padding-right: 6%;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: -1em;
  margin-left: -1em;
}

.grid > .grid__cell {
  padding-top: 1em;
  padding-left: 1em;
}

.grid__cell {
  width: 100%;
}

.grid--no-gutter {
  margin-top: 0;
  margin-left: 0;
}

.grid--no-gutter > .grid__cell {
  padding-top: 0;
  padding-left: 0;
}

@media (min-width: 480px) {
  .grid__cell--xs-1 {
    width: 8.33333%;
  }
  .grid__cell--xs-2 {
    width: 16.66667%;
  }
  .grid__cell--xs-3 {
    width: 25%;
  }
  .grid__cell--xs-4 {
    width: 33.33333%;
  }
  .grid__cell--xs-5 {
    width: 41.66667%;
  }
  .grid__cell--xs-6 {
    width: 50%;
  }
  .grid__cell--xs-7 {
    width: 58.33333%;
  }
  .grid__cell--xs-8 {
    width: 66.66667%;
  }
  .grid__cell--xs-9 {
    width: 75%;
  }
  .grid__cell--xs-10 {
    width: 83.33333%;
  }
  .grid__cell--xs-11 {
    width: 91.66667%;
  }
  .grid__cell--xs-12 {
    width: 100%;
  }
  .grid__cell--xs-half-1 {
    margin-left: 8.33333%;
  }
  .grid__cell--xs-half-2 {
    margin-left: 16.66667%;
  }
  .grid__cell--xs-half-3 {
    margin-left: 25%;
  }
  .grid__cell--xs-half-4 {
    margin-left: 33.33333%;
  }
  .grid__cell--xs-half-5 {
    margin-left: 41.66667%;
  }
  .grid__cell--xs-half-6 {
    margin-left: 50%;
  }
  .grid__cell--xs-half-7 {
    margin-left: 58.33333%;
  }
  .grid__cell--xs-half-8 {
    margin-left: 66.66667%;
  }
  .grid__cell--xs-half-9 {
    margin-left: 75%;
  }
  .grid__cell--xs-half-10 {
    margin-left: 83.33333%;
  }
  .grid__cell--xs-half-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .grid__cell--sm-1 {
    width: 8.33333%;
  }
  .grid__cell--sm-2 {
    width: 16.66667%;
  }
  .grid__cell--sm-3 {
    width: 25%;
  }
  .grid__cell--sm-4 {
    width: 33.33333%;
  }
  .grid__cell--sm-5 {
    width: 41.66667%;
  }
  .grid__cell--sm-6 {
    width: 50%;
  }
  .grid__cell--sm-7 {
    width: 58.33333%;
  }
  .grid__cell--sm-8 {
    width: 66.66667%;
  }
  .grid__cell--sm-9 {
    width: 75%;
  }
  .grid__cell--sm-10 {
    width: 83.33333%;
  }
  .grid__cell--sm-11 {
    width: 91.66667%;
  }
  .grid__cell--sm-12 {
    width: 100%;
  }
  .grid__cell--sm-half-1 {
    margin-left: 8.33333%;
  }
  .grid__cell--sm-half-2 {
    margin-left: 16.66667%;
  }
  .grid__cell--sm-half-3 {
    margin-left: 25%;
  }
  .grid__cell--sm-half-4 {
    margin-left: 33.33333%;
  }
  .grid__cell--sm-half-5 {
    margin-left: 41.66667%;
  }
  .grid__cell--sm-half-6 {
    margin-left: 50%;
  }
  .grid__cell--sm-half-7 {
    margin-left: 58.33333%;
  }
  .grid__cell--sm-half-8 {
    margin-left: 66.66667%;
  }
  .grid__cell--sm-half-9 {
    margin-left: 75%;
  }
  .grid__cell--sm-half-10 {
    margin-left: 83.33333%;
  }
  .grid__cell--sm-half-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 996px) {
  .grid__cell--md-1 {
    width: 8.33333%;
  }
  .grid__cell--md-2 {
    width: 16.66667%;
  }
  .grid__cell--md-3 {
    width: 25%;
  }
  .grid__cell--md-4 {
    width: 33.33333%;
  }
  .grid__cell--md-5 {
    width: 41.66667%;
  }
  .grid__cell--md-6 {
    width: 50%;
  }
  .grid__cell--md-7 {
    width: 58.33333%;
  }
  .grid__cell--md-8 {
    width: 66.66667%;
  }
  .grid__cell--md-9 {
    width: 75%;
  }
  .grid__cell--md-10 {
    width: 83.33333%;
  }
  .grid__cell--md-11 {
    width: 91.66667%;
  }
  .grid__cell--md-12 {
    width: 100%;
  }
  .grid__cell--md-half-1 {
    margin-left: 8.33333%;
  }
  .grid__cell--md-half-2 {
    margin-left: 16.66667%;
  }
  .grid__cell--md-half-3 {
    margin-left: 25%;
  }
  .grid__cell--md-half-4 {
    margin-left: 33.33333%;
  }
  .grid__cell--md-half-5 {
    margin-left: 41.66667%;
  }
  .grid__cell--md-half-6 {
    margin-left: 50%;
  }
  .grid__cell--md-half-7 {
    margin-left: 58.33333%;
  }
  .grid__cell--md-half-8 {
    margin-left: 66.66667%;
  }
  .grid__cell--md-half-9 {
    margin-left: 75%;
  }
  .grid__cell--md-half-10 {
    margin-left: 83.33333%;
  }
  .grid__cell--md-half-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .grid__cell--lg-1 {
    width: 8.33333%;
  }
  .grid__cell--lg-2 {
    width: 16.66667%;
  }
  .grid__cell--lg-3 {
    width: 25%;
  }
  .grid__cell--lg-4 {
    width: 33.33333%;
  }
  .grid__cell--lg-5 {
    width: 41.66667%;
  }
  .grid__cell--lg-6 {
    width: 50%;
  }
  .grid__cell--lg-7 {
    width: 58.33333%;
  }
  .grid__cell--lg-8 {
    width: 66.66667%;
  }
  .grid__cell--lg-9 {
    width: 75%;
  }
  .grid__cell--lg-10 {
    width: 83.33333%;
  }
  .grid__cell--lg-11 {
    width: 91.66667%;
  }
  .grid__cell--lg-12 {
    width: 100%;
  }
  .grid__cell--lg-half-1 {
    margin-left: 8.33333%;
  }
  .grid__cell--lg-half-2 {
    margin-left: 16.66667%;
  }
  .grid__cell--lg-half-3 {
    margin-left: 25%;
  }
  .grid__cell--lg-half-4 {
    margin-left: 33.33333%;
  }
  .grid__cell--lg-half-5 {
    margin-left: 41.66667%;
  }
  .grid__cell--lg-half-6 {
    margin-left: 50%;
  }
  .grid__cell--lg-half-7 {
    margin-left: 58.33333%;
  }
  .grid__cell--lg-half-8 {
    margin-left: 66.66667%;
  }
  .grid__cell--lg-half-9 {
    margin-left: 75%;
  }
  .grid__cell--lg-half-10 {
    margin-left: 83.33333%;
  }
  .grid__cell--lg-half-11 {
    margin-left: 91.66667%;
  }
}

.articles {
  padding-top: 50px;
  padding-bottom: 98px;
}

@media (min-width: 768px) {
  .articles {
    padding-top: 72px;
    padding-bottom: 152px;
  }
}

.article {
  max-width: 618px;
  border-bottom: 2px solid #e5e5e5;
  margin-right: auto;
  margin-left: auto;
  padding-top: 52px;
  padding-bottom: 52px;
}

.article:first-child {
  padding-top: 0;
}

.article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.article__image {
  display: block;
  width: 100%;
  cursor: pointer;
}

.article__image img {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.article__title {
  margin-top: 26px;
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}

.article__title a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: #4F4D50;
}

.article__title a:hover {
  color: #353436;
}

.article__resumen {
  font-size: 16px;
}

.article__resumen a,
.article__resumen a:hover {
  color: #4F4D50;
  text-decoration: none;
}

.article__author {
  display: inline-block;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px;
}

.article__date {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #9B9B9B;
}

.article__date::before {
  content: "on";
  display: inline-block;
  opacity: 0.6;
  margin-right: 8px;
  font-size: 16px;
}

.article__badges {
  margin-top: 14px;
  margin-bottom: 22px;
}

.article__badges .badge {
  margin-right: 4px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .article__resumen {
    font-size: 18px;
  }
  .article__author {
    font-size: 18px;
  }
  .article__date {
    font-size: 16px;
  }
}

@media (min-width: 996px) {
  .article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .article__image, .article__content {
    width: calc(50% - 26px);
  }
  .article__image {
    margin-left: 26px;
  }
  .article__content {
    margin-right: 26px;
  }
  .article__title {
    margin-top: 0;
    font-size: 32px;
  }
}

.post__header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100vh;
  min-height: 450px;
  padding-bottom: 58px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post__header::before {
  content: " ";
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.post__header .wrapper {
  z-index: 1;
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

.post__title {
  margin-top: 10px;
  margin-bottom: 28px;
  max-width: 1100px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2;
}

.post__author {
  display: inline-block;
  opacity: 0.7;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}

.post__date {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

.post__date::before {
  content: "on";
  display: inline-block;
  opacity: 0.5;
  margin-right: 10px;
}

.post__badges .badge {
  margin-right: 4px;
  margin-bottom: 4px;
}

.post__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 6%;
  font-weight: 300;
}

.post__content img {
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.post__content img.img--medium {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.post__content img.img--small {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.post__content img.img--small-2x {
  max-width: 600px;
  margin-right: auto; 
  margin-left: auto;
}

@media (min-width: 768px) {
  .post__header {
    padding-bottom: 78px;
  }
  .post__title {
    font-size: 50px;
    margin-bottom: 38px;
  }
  .post__author {
    font-size: 24px;
  }
  .post__date {
    font-size: 20px;
  }
  .post__content {
    font-size: 22px;
  }
}

@media (min-width: 996px) {
  .post__title {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .post__title {
    font-size: 68px;
  }
}

.author-info {
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 88px;
  margin-left: auto;
  padding: 42px;
  background-color: #fff;
}

.author-info__avatar {
  display: block;
  width: 100%;
  max-width: 130px;
  border-radius: 100%;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

.author-info__name {
  font-size: 24px;
  margin-bottom: 22px;
  text-align: center;
}

.author-info__social {
  margin-top: 38px;
  text-align: center;
}

.author-info__social a {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 14px;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background-color: #4F4D50;
}

.author-info__social a:hover, .author-info__social a:focus {
  background-color: #353436;
}

.author-info__social a:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .author-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 4px;
  }
  .author-info__avatar {
    max-width: 140px;
    margin-right: 62px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .author-info__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .author-info__name, .author-info__social {
    text-align: left;
  }
}

.related-articles {
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
}

.related-articles__prev, .related-articles__next {
  display: block;
}

.related-articles__prev a, .related-articles__next a {
  display: inline-block;
  text-decoration: none;
  color: #4F4D50;
}

.related-articles__prev a:hover, .related-articles__next a:hover {
  color: #4F4D50;
}

.related-articles__prev a:hover .related-articles__title, .related-articles__next a:hover .related-articles__title {
  color: #353436;
}

.related-articles__prev {
  text-align: left;
}

.related-articles__prev .related-articles__label {
  padding-left: 24px;
}

.related-articles__prev .related-articles__label::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "\f177";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.related-articles__next .related-articles__label {
  padding-right: 24px;
}

.related-articles__next .related-articles__label::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "\f178";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.related-articles__label {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #9B9B9B;
}

.related-articles__title {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  margin-bottom: 0;
  font-size: 20px;
}

@media (min-width: 768px) {
  .related-articles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
  .related-articles__prev, .related-articles__next {
    width: 50%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .related-articles__next {
    text-align: right;
    margin-left: 50%;
  }
  .related-articles__prev + .related-articles__next {
    margin-left: 0;
  }
  .related-articles__title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .related-articles {
    padding-right: 24px;
    padding-left: 24px;
  }
  .related-articles__prev {
    padding-bottom: 22px;
  }
  .related-articles__next {
    padding-top: 22px;
  }
  .related-articles__prev + .related-articles__next {
    border-top: 1px solid #e5e5e5;
    margin-left: 0;
  }
}

.share-button {
  z-index: 8;
  position: fixed;
  right: 6%;
  bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.share-button__trigger {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: block;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #62AFE2;
  background-image: url("../icons/share.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 40%;
}

.share-button__trigger:hover {
  background-color: #3799da;
}

.share-button__link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #4F4D50;
  background-color: #fff;
}

.share-button__link:hover {
  background-color: #e6e6e6;
}

.share-button.share-button--open .share-button__link {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .share-button__trigger {
    width: 60px;
    height: 60px;
    background-position: 16px center;
  }
}

.comments-block {
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding: 42px;
  background-color: white;
}

@media (min-width: 768px) {
  .comments-block {
    border-radius: 4px;
  }
}

.archives {
  padding-top: 50px;
  padding-bottom: 98px;
}

.archives h1 {
  color: #9B9B9B;
  font-size: 38px;
}

@media (min-width: 768px) {
  .archives {
    padding-top: 72px;
    padding-bottom: 152px;
  }
  .archives h1 {
    color: #9B9B9B;
    font-size: 56px;
  }
}

.archives__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 28px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.archives__item:last-child {
  border-bottom: none;
}

.archives__item .archives__year {
  display: inline-block;
  margin-right: 34px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #62AFE2;
}

.archives__item .archives__months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.archives__item .archives__months li {
  margin-right: 28px;
  margin-bottom: 4px;
}

.archives__item .archives__months li a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #9B9B9B;
}

.archives__item .archives__months li a:hover, .archives__item .archives__months li a:focus {
  color: #4F4D50;
}

@media (max-width: 479px) {
  .archives__item .archives__year {
    font-size: 26px;
  }
  .archives__item .archives__months li {
    width: calc(50% - 28px);
  }
  .archives__item .archives__months li a {
    font-size: 16px;
  }
}

.archives-dialog {
  position: relative;
  margin-top: -50px;
  margin-bottom: 56px;
  padding: 12px 48px 12px 24px;
  background-color: #e5e5e5;
}

.archives-dialog__title {
  margin-bottom: 0;
  font-size: 26px;
  color: #9B9B9B;
}

.archives-dialog__title em {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
}

.archives-dialog__close {
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../icons/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .archives-dialog {
    margin-top: 0;
    margin-right: 6%;
    margin-left: 6%;
    padding: 12px 48px 16px 24px;
    border-radius: 4px;
  }
  .archives-dialog__title {
    font-size: 48px;
  }
  .archives-dialog__title em {
    font-size: 22px;
  }
  .archives-dialog__close {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 996px) {
  .archives-dialog {
    margin-left: calc(6% + 162px);
  }
}

.about__item {
  position: relative;
  padding-top: 52px;
  padding-bottom: 52px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__item:first-child {
  padding-top: 80px;
}

.about__item::before {
  content: " ";
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.about__item .wrapper {
  z-index: 1;
  position: relative;
}

.about__item .about__name, .about__item p {
  max-width: 564px;
}

@media (min-width: 480px) {
  .about__item {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .about__item:first-child {
    padding-top: calc(10% + 80px);
  }
}

.about__social {
  margin-top: 38px;
}

.about__social a {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 14px;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  color: #353436;
  background-color: #fff;
}

.about__social a:hover, .about__social a:focus {
  background-color: #fff;
}

.about__social a:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */