---
layout: default
---

<!-- Header -->
<header class="header header--transparent">
    <span class="logo">
			<a href="{{site.github.url}}/"><img class="logo__image" src="{{ site.github.url | replace: 'http://', '//' }}/assets/img/logo-interns.svg" alt="Logo Interns"></a>
		</span>

    <!-- Menu -->
    <nav class="menu">
        <span class="menu__link">View all archives</span>
        <span class="menu__link">About Us</span>
    </nav>

    <span class="menu-trigger"><em></em></span>
</header>

<main class="content content--no-padding">
{{content}}
</main>