<!doctype html>
<html lang="en">

<head>
    {% seo title=false %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Intern Life</title>
    <link rel="shortcut icon" href="{{ site.github.url | replace: 'http://', '//' }}/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ site.github.url | replace: 'http://', '//' }}/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-16.png">
    <link rel="apple-touch-icon" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ site.github.url | replace: 'http://', '//' }}favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url | replace: 'http://', '//' }}/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ site.github.url | replace: 'http://', '//' }}/favicon-144.png">
    <meta name="msapplication-config" content="{{ site.github.url | replace: 'http://', '//' }}/browserconfig.xml">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="{{ site.github.url | replace: 'http://', '//' }}/assets/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.github.url | replace: 'http://', '//' }}/assets/css/main.css">
</head>

<body>

    {{content}}

    <!-- Footer -->
    <footer class="footer">
        <a class="logo" href="https://github.com/DevWizza">
            <img class="logo__image" src="{{ site.github.url | replace: 'http://', '//' }}/assets/img/logo-dw.svg" alt="Logo DevWizza">
        </a>
        <p class="footer__slogan">Made by Nerds for Nerds</p>
    </footer>

    <!-- JS -->
    <script src="{{ site.github.url | replace: 'http://', '//' }}/assets/js/sharer.min.js"></script>
    <script src="{{ site.github.url | replace: 'http://', '//' }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.github.url | replace: 'http://', '//' }}/assets/js/main.js"></script>
    <script id="dsq-count-scr" src="//intern-life.disqus.com/count.js" async></script>
</body>

</html>