<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Interns Life</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <span class="logo">
			<img class="logo__image" src="assets/img/logo-interns.svg" alt="Logo Interns">
		</span>

        <!-- Menu -->
        <nav class="menu">
            <span class="menu__link">View all archives</span>
            <span class="menu__link">About Us</span>
        </nav>
    </header>
    <main class="content">
            {{content}}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <a class="logo" href="#0">
            <img class="logo__image" src="assets/img/logo-dw.svg" alt="Logo DevWizza">
        </a>
        <p class="footer__slogan">Made by Nerds for Nerds</p>
    </footer>

    <!-- JS -->
    <script src="assets/js/main.js"></script>
</body>

</html>