<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Interns Life</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="dist/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" href="dist/css/main.css">
</head>
<body>
	<!-- Header -->
	<header class="header">
		<span class="logo">
			<img class="logo__image" src="dist/img/logo-interns.svg" alt="Logo Interns">
		</span>

		<!-- Menu -->
		<nav class="menu">
			<span class="menu__link">View all archives</span>
			<span class="menu__link">About Us</span>
		</nav>
	</header>

	<!-- Content -->
	<main class="content">
		<section class="articles">
			<div class="wrapper">
				<div class="article">
					<span class="article__image">
						<img src="dist/img/pic_1.jpg" alt="">
					</span>
					
					<div class="article__content">
						<h3 class="article__title">
							<span>How to do design a Xamarin Forms app from scratch</a>
						</h3>
						<span class="article__author">Luis Nuñez</span>

						<div class="article__data">
							<span class="badge badge--secondary">Xamarin Forms</span>
							<span class="article__date">April. 20. 2017</span>
						</div>
						<p>Xamarin.Forms is a cross-platform UI toolkit that allows developers to easily create native user interface layouts that can be shared across Android, iOS, and Windows Phone.</p>
					</div>
				</div>

				<div class="article">
					<span class="article__image">
						<img src="dist/img/pic_2.jpg" alt="">
					</span>

					<div class="article__content">
						<h3 class="article__title">
							<span>How to create shaders like you never seen before</span>
						</h3>
						<span class="article__author">Reynardo Perez</span>

						<div class="article__data">
							<span class="badge badge--primary">Unity</span>
							<span class="article__date">April. 20. 2017</span>
						</div>
						<p>At Unity, you’ll feel empowered and important, and you’ll be heard. Just a thousand people is all it takes to build, maintain and market the world’s leading game engine.</p>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	<footer class="footer">
		<a class="logo" href="#0">
			<img class="logo__image" src="dist/img/logo-dw.svg" alt="Logo DevWizza">
		</a>
		<p class="footer__slogan">Made by Nerds for Nerds</p>
	</footer>
	
	<!-- JS -->
	<script src="dist/js/main.js"></script>
</body>
</html>